@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  margin: 20px;
  color: black;
  letter-spacing: 5px;
}

.sign-in, p {
  color: white;
}

.sign-out {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 5px;
}

body {
  background-color: #000000;
  background: radial-gradient(circle, rgb(117, 117, 117) 0%, rgba(254,33,78,1) 100%);
}

.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

.player-card {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.delete-btn {
  letter-spacing: 2px;
}

.mb-2 {
  margin-top: 10px;
  color: rgb(117, 117, 117);
  font-size: larger;
}
